# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=YOUR_DB_PASSWORD
DB_NAME=your_database_name
DB_DIALECT=mysql

# Server Port
PORT=3000

# JWT Configuration
JWT_SECRET=YOUR_JWT_SECRET_KEY

# Add other environment variables as needed
